body {
  background: #222;
  color: white;
}

img {
  max-width: 100%;
}

.services {
  width: auto;
  background: grey;
  overflow: hidden;
  clear: both;
}

.service {
  clear: left;
  width: auto;
  height: 100px;
  float: left;
}

.posts {
  max-width: 960px;
  margin: 0 auto;
  height: 400px;
  padding: 20px;
  font-family: sans-serif;
  line-height: 1.5;
}

.post {
  width: auto;
  padding-bottom: 40px;
  font-size: 1.2rem;
  float: right;
}

.post-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Code Under This Line */
